<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550409635864-elapk41qderg90t34o1b9u87798r19is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550409635864-elapk41qderg90t34o1b9u87798r19is</string>
	<key>API_KEY</key>
	<string>AIzaSyAdyAkiyPlg93HGRmf_1p6sNx3ig39b40c</string>
	<key>GCM_SENDER_ID</key>
	<string>550409635864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tomatoes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tomatoes-6bc10</string>
	<key>STORAGE_BUCKET</key>
	<string>tomatoes-6bc10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550409635864:ios:ed43bf001c576190c15b6d</string>
</dict>
</plist>